<div class="col-lg-9 col-lg-offset-2" *ngIf="identity && identity.role == 'ROLE_ADMIN'" >
	<h1>{{titulo}}</h1>
		<div *ngIf="alertMessage">
			<div class="alert alert-info">
			  {{alertMessage}}
			</div>
		</div>
	<form #formProveedor="ngForm" (ngSubmit)="onSubmit()"  >
		<p>
			<label>Nombre: </label>
			<input type="text" #nombre="ngModel" name="nombre" [(ngModel)]="proveedor.nombre" required class="form-control" />
			<span *ngIf="!nombre.valid && nombre.touched">El nombre es obligatorio.</span>
		</p>
		<p>
			<label>Descripción: </label>
			<textarea #descripcion="ngModel" name="descripcion" [(ngModel)]="proveedor.descripcion" required class="form-control" > </textarea>
			<span *ngIf="!descripcion.valid && descripcion.touched">La descripción es obligatoria.</span>
		</p>

		<div class="" *ngIf="is_edit">
			<div class="proveedor_image_for_edit" *ngIf="proveedor.image && proveedor.image != 'null'" >
				<img src="{{url + 'get-image-proveedor/'+proveedor.image}}" />
			</div>
			<p>
				<label> Sube la Imagen del Proveedor</label>
				<input type="file" name="" placeholder="Subir imagen..." (change)="fileChangeEvent($event) " />
			</p>
		</div>

		<input type="submit" value="{{titulo}}" [disabled]="!formProveedor.form.valid" class="btn btn-success" />
	</form> 
</div>

<div class="col-lg-9 col-lg-offset-2" *ngIf="!identity || identity.role != 'ROLE_ADMIN'" >
	<h1>Error</h1>
	<p>No tienes acceso a esta parte de la aplicación. </p>
</div>